.banner {
    background: linear-gradient(90deg, #149ED3, #7253E4, #A948EC);
    
    &__background {
        background-position-x: 164%;
        background-image: url(/image/Joystick_3D-03-size.svg);
        background-repeat: no-repeat;
        background-size: 74%;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 4.5px 0;
        margin: 0 auto;
    }

    &__menu {
        margin-right: 25px;
    }
    
    &__list {
        display: flex;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-weight: 400;
        font-size: 14px;
        margin-top: 28px;
        color: #414141;
        &:not(:last-child) {
            margin-right: 15px;
        }
        img {
            margin-left: 4px;
        }
    }

    &__logo {
        margin-top: 42px;
    }

    &__header {
        margin-right: 41px;
    }

    &__description {
        font-weight: 500;
        font-size: 28px;
        color: #fff;
    }

    &__img {
        margin-bottom: -4.7px;
        bottom: 0;

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 1400px) {
    .banner {
        &__background {
            background-size: 80%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .banner {
        &__background {
            background-size: 85%;
        }

        &__list {
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        &__background {
            background-size: 90%;
        }
    }
}


@media screen and (max-width: 1125px) {
    .banner {
        &__background {
            background-size: 95%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        &__background {
            background-size: 100%;
        }

        &__header {
            margin-right: 21px;
        }
    }
}

@media screen and (max-width: 980px) {
    .banner {

        &__header {
            margin-right: 5px;
        }

        &__img {
            position: relative;
        }
    }
}

@media screen and (max-width: 976px) {
    .banner {
        &__background {
            background-size: 110%;
            background-position-x: -140%;
        }
    }
}


@media screen and (max-width: 880px) {
    .banner {
        &__logo {
            img {
                width: 115%;
            }
        }
    }
}


@media screen and (max-width: 838px) {
    .banner {
        &__background {
            background-size: cover;
            background-position-x: -60%;
        }
    }
}

@media screen and (max-width: 754px) {
    .banner {
        &__img {
            img {
                width: 97%;
            }
        }
    }
}


@media screen and (max-width: 730px) {
    .banner {

        &__description {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 660px) {
    .banner {

        &__background {
            background-position-x: 10%;
        }

        &__logo {
            img {
                width: 110%;
            }
        }

        &__img {

            img {
                width: 110%;
            }
        }
    }
}


@media screen and (max-width: 560px) {
    .banner {
        &__description {
            font-size: 14px;
        }
    }
}
