* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body._lock {
    overflow: hidden;
}

.container {
    max-width: 1480px;
}

@media screen and (max-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}

@media screen and (max-width: 1490px) {
    .container {
        max-width: 1430px;
    }
} 

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1310px;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1250px;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 1230px;
    }
}

@media screen and (max-width: 1250px) {
    .container {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        max-width: 990px;
    }
}

@media screen and (max-width: 1028px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        max-width: 910px;
    }
}

@media screen and (max-width: 936px) {
    .container {
        max-width: 890px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 845px;
    }
}

@media screen and (max-width: 845px) {
    .container {
        max-width: 685px;
    }
}

@media screen and (max-width: 697px) {
    .container {
        max-width: 668px;
    }
}

@media screen and (max-width: 689px) {
    .container {
        max-width: 608px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 570px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 530px;
    }
}

@media screen and (max-width: 565px) {
    .container {
        max-width: 500px;
    }
}

@media screen and (max-width: 533px) {
    .container {
        max-width: 460px;
    }
}

@media screen and (max-width: 495px) {
    .container {
        max-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 360px;
    }
}

.button {
    width: 337px;
    height: 56px;
    border-radius: 30px;
    border: none;
    padding: 16px 0;
}

@media screen and (max-width: 1040px) {
    .button {
        width: 300px;
        height: 50px;
    }
}

@media screen and (max-width: 1010px) {
    .button {
        width: 250px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input, textarea {
    outline: 0;
}

.border {
    border-bottom: 1px solid #E5E6E9;
    width: 337px;
    margin-top: 32px;
}

@media screen and (max-width: 1040px) {
    .border {
        width: 300px;
    }
}

@media screen and (max-width: 1010px) {
    .border {
        width: 250px;
    }
}

@media screen and (max-width: 375px) {
    .border {
        width: 300px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.mobile {
    display: none;
    overflow: hidden;
}