.benefits {
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 41px 0;
    margin-bottom: 80px; //41

    &__header {
        font-weight: 500;
        font-size: 31px;
        line-height: 48px;
        color: #414141;
        margin-bottom: 52px;
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 40px;
    }

    &__textOne {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #333333;
        max-width: 608px;
    }

    &__textTwo {
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #333333;
        max-width: 708px;
    }

    &__line {
        border-bottom: 1px solid #E5E6E9;
        margin-bottom: 41px;
    }

    &__qualities {
        display: flex;
        justify-content: space-between;
    }

    &__quality {
        max-width: 450px;
    }

    &__qualityImg {
        margin-bottom: 20px;
    }

    &__qualityHeader {
        height: 30px;
        max-width: 337px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 20px;
        color: #414141;
    }

    &__qualityText {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #65676E;
    }

    &__qualityContainer {
        max-width: 337px;
    }
}

@media screen and (max-width: 1500px) {
    .benefits {
        padding: 21px 0;
    }
}

@media screen and (max-width: 1111px) {
    .benefits {
        &__header {
            font-size: 26px;
            line-height: 36px;
        }

        &__textOne {
            font-size: 16px;
        }

        &__textTwo {
            font-size: 16px;
        }

        &__qualityContainer {
            max-width: 500px;
        }

        &__qualityHeader {
            font-size: 17px;
            line-height: 20px;
        }

        &__qualityText {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

@media screen and (max-width: 931px) {
    .benefits {
        &__header {
            font-size: 24px;
        }

        &__textOne {
            font-size: 14px;
        }

        &__textTwo {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 700px) {
    .benefits {
        &__qualityHeader {
            font-size: 15px;
        }

        &__qualityText {
            font-size: 12px;
        }
    }
}