.burger-menu {
    position: absolute;
}

.burger-menu__button {
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 30;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
}

.burger-menu__lines, 
.burger-menu__lines::after, 
.burger-menu__lines::before {
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: #fff;
}

.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::after {
    content: '';
    top: -4px;
}

.burger-menu__lines::before {
    content: '';
    top: 4px;
}

.burger-menu_active .burger-menu__lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: #2a2a2a;
}