.card-banner {
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1072px;
    background-color: #7536DD;
    margin: 30px auto 30px;

    &__banner-img {
        img {
            max-width: 100%;
            position: relative;
            bottom: -3px;
        }
    }

    &__description {
        margin-right: 40px;
    }
   
    &__figure {
        position: relative;
        bottom: -35px;
        left: -95px;
        img {
            position: absolute;
            z-index: 1;
        }
    }

    &__figure2 {
        position: relative;
        
        img {
            position: absolute;
            right: -105px;
            top: -120px;
        }
    }

    &__header {
        font-size: 34px;
        color: $primary-color;
        line-height: 44px;
        font-weight: 500;
    }


    &__text {
        max-width: 305px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #E5E6E9;
    }

    &__textSpan {
        font-weight: 700;
    }
}

@media screen and (max-width: 1500px) {
    .card-banner {
        max-width: 880px;

        &__figure {
            img {
                width: 95px;
            }
        }

        &__figure2 {
            img {
                width: 120px;
                right: -60px;
                top: -100px;
            }
        }

        &__description {
            margin-right: 50;
        }
    }
}

@media screen and (max-width: 1490px) {
    .card-banner {
        max-width: 890px;

        &__header {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .card-banner {
        max-width: 750px;

        &__description {
            margin-right: 85px;
        }

        &__figure2 {
            img {
                right: -50px;
            }
        }

        &__header {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 1190px) {
    .card-banner {
        max-width: 680px;

        &__header {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 5px;
        }

        &__figure2 {
            img {
                right: -33px;
            }
        }
    }
}


@media screen and (max-width: 1100px) {
    .card-banner {
        position: relative;
        max-width: 590px;
        height: 165px;

        &__banner-img {
            img {
                bottom: -7px;
            }
        }

        &__figure {
            left: -77px;
            img {
                width: 75px;
            }
        }

        &__figure2 {
            img {
                right: -15px;
                top: -88px;
                width: 100px;
            }
        }

        &__header {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 5px;
        }

        &__text {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media screen and (max-width: 937px) {
    .card-banner {
        max-width: 590px;
        height: 160px;

        &__banner-img {
            max-width: 110%;

            img {
                bottom: -7px;
                left: -10px;
                max-width: 140%;
            }
        }

        &__figure {
            top: -90px;
            img {
                width: 40px;
            }
        }

        &__description {
            margin-right: 20px;
        }

        &__figure2 {
            img {
                right: 0;
                top: 10px;
                width: 60px;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .card-banner {
        &__banner-img {
            img {
                bottom: 3px;
            }
        }
    }
}

@media screen and (max-width: 495px) {
    .card-banner {
        &__banner-img {
            img {
                bottom: -5px;
            }
        }

        &__figure2 {
            img {
                top: 20px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .card-banner {
        &__banner-img {
            img {
                bottom: -13px;
            }
        }
    }
}
