.card-banner {
    position: relative;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-color: #7536DD;
    margin-bottom: 30px;
   
    &__figure {
        position: absolute;
        bottom: -35px;
        left: 360px;
    }

    &__figure2 {
        position: absolute;
        right: -50px;
        top: -30px;
    }

    &__header {
        font-size: 2.4em;
        color: $primary-color;
        line-height: 44px;
        font-weight: 500;
    }


    &__text {
        max-width: 305px; // 303px
        font-weight: 400;
        font-size: 1em;
        line-height: 21px;
        color: #E5E6E9;
    }

    &__textSpan {
        font-weight: 700;
    }
}