.card-category {

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }


    &__item {
        width: 200px;
        height: 200px;
        background: #FFFFFF;
        border-radius: 20px;
        padding: 16px 0 0 20px;
        overflow: hidden;
        &:not(:last-child) {
            margin-right: 18px;
        }
        &:nth-child(1) {
            margin-bottom: 18px;
        }
        &:nth-child(2) {
            margin-bottom: 18px;
        }
        &:nth-child(3) {
            margin-bottom: 18px;
        }
        &:nth-child(4) {
            margin-bottom: 18px;
        }
        &:nth-child(5) {
            margin-bottom: 18px;
            overflow: hidden;
        }
        &:hover, :focus {
            background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
            transition: all 3s;
            cursor: pointer;
            color: #FFFFFF;
        }
    }

    &__text {
        font-size: 1.4em;
        color: #272727;
    }

    &__image {
        display: flex;
        justify-content: flex-end;
        margin-top: 9px;
    }

    @media screen and (max-width: 1458px) {
        .card-category {
            &__container {
                max-width: calc(200% / 3);
                justify-content: flex-start;
            }

            &__item {
                &:nth-child(9) {
                    margin-top: 18px;
                }

                &:nth-child(10) {
                    margin-top: 18px;
                }
            }
        }
    }

}