.footer-info {
    padding: 70px 0 110px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: linear-gradient(109.69deg, #07111D 5.76%, #0E2349 63.18%);

    &__logo {
        margin-bottom: 40px;
    }

    &__phone { 
        margin-bottom: 8px;
        a {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: $primary-color;
            text-decoration: none;
        }
    }

    &__email {
        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $primary-color;
            text-decoration: none;
        }
    }

    &__blockInfo {
        display: flex;
    }

    &__catalog {
        margin-right: 72px;
    }

    &__shopper {
        margin-right: 72px;
    }

    &__quikLink {
        margin-right: 72px;
    }

    &__company {
        margin-right: 30px;
    }

    &__header {
        list-style: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $primary-color;
        margin-bottom: 24px;
    }

    &__text {
        list-style: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #B7BDC7;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__socialInfo {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 276px;
        height: 223px;
        background: rgba(43, 60, 103, 0.2);
        border-radius: 12px;
        box-shadow: -7px -7px 42px 18px rgba(120, 189, 238, 0.2);
    }

    &__socialHeader {
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: $primary-color;
        margin-bottom: 4px;
    }

    &__description {
        text-align: center;
        word-wrap: break-word;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #B7BDC7;
        margin-bottom: 24px;
    }

    &__buttonTelegram {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 236px;
        height: 38px;
        background: linear-gradient(92.54deg, #14AEFF -16.66%, #3EB6EB 90.71%), #4F5B7C;
        border-radius: 8px;
        margin-bottom: 12px;
        img {
            margin-right: 6px;
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $primary-color;
        }
    }

    &__buttonYoutube {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 236px;
        height: 38px;
        background: linear-gradient(92.54deg, #F11F1F -16.66%, #FF3E3E 90.71%);
        border-radius: 8px;
        img {
            margin-right: 6px;
        }
        
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $primary-color;
        }
    }

    .active-footer {
        display: block;
    }
}

@media screen and (max-width: 1500px) {
    .footer-info {
        padding: 50px 20px 80px;
    }
}

@media screen and (max-width: 1440px) {
    .footer-info {
        &__phone {
            a {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__email {
            a {
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__catalog, &__shopper, &__quikLink, &__company {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer-info {
        &__header {
            a {
                font-size: 17px;
                line-height: 20px;
            }
        }

        &__phone {
            a {
                font-size: 12px;
                line-height: 18px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 18px;
        }

        &__catalog, &__shopper, &__quikLink, &__company {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 1160px) {
    .footer-info {
        &__info {
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        &__email {
            a {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &__company{
            margin-right: auto;
        }

        &__header {
            font-size: 14px;
            line-height: 18px;
        }

        &__socialHeader {
            font-size: 14px;
            line-height: 22px;
        }

        &__description {
            font-size: 12px;
            line-height: 16px;
        }

        &__buttonTelegram {
            width: 200px;
            height: 38px;
        }

        &__buttonYoutube {
            width: 200px;
            height: 38px;
        }
    }
}

@media screen and (max-width: 940px) {
    .footer-info {
        &__header {
            font-size: 12px;
        }

        &__text {
            font-size: 12px;
        }

        &__socialInfo {
            max-width: 200px;
        }

        &__socialHeader {
            font-size: 12px;
        }

        &__buttonTelegram {
            width: 150px;
        }
        
        &__buttonYoutube {
            width: 150px;
        }
    }
}

@media screen and (max-width: 870px) {
    .footer-info {
        padding: 30px 20px;
        flex-direction: column;
        align-items: center;

        &__info {
            flex-direction: row;
            justify-content: space-around;
        }

        &__logo {
            margin-right: 10px;
        }

        &__phone {
            margin-right: 10px;
            a {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__email {
            a {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__blockInfo {
            margin-bottom: 30px;
        }

        &__header {
            font-size: 14px;
            line-height: 18px;
        }

        &__text {
            font-size: 14px;
            line-height: 18px;
            display: none;
        }

        &__socialInfo {
            max-width: 335px;
        }

        &__socialHeader {
            font-size: 17px;
            line-height: 25px;
        }

        &__description {
            font-size: 14px;
            line-height: 21px;
        }

        &__buttonTelegram {
            width: 236px;
        }

        &__buttonYoutube {
            width: 236px;
        }
    }
}

@media screen and (max-width: 475px) {
    .footer-info {
        align-items: flex-start;

        &__info {
            flex-direction: column;
            margin: 0 0 48px 0;
            align-items: flex-start;
        }

        &__catalog, &__shopper, &__quikLink, &__company {
            margin: 0;
            &::after {
                content: '';
                display: block;
                border-bottom: 1px solid #253758;
                width: 415px;
                margin: 15px 0;
            }
        }

        &__header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 10px;

            &::after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            border-top: 1.5px solid #707378;
            border-right: 1.5px solid #707378;
            transform: rotate(-45deg);
            margin: 0 8px;
            }
        }

        &__logo {
            margin: 0 0 10px 0;
        }

        &__blockInfo {
            flex-direction: column;
        }

        &__reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        &__phone {
            a {
                font-size: 20px;
                line-height: 24px;
            }
        }

        &__email {
            font-size: 14px;
            line-height: 17px;
        }

        &__socialInfo {
            margin: 0 auto;
        }

        &__buttonYoutube {
            background:  linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
        }
    }
}

@media screen and (max-width: 445px) {
    .footer-info {
        &__catalog, &__shopper, &__quikLink, &__company {
            &::after {
                width: 390px;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .footer-info {
        &__catalog, &__shopper, &__quikLink, &__company {
            &::after {
                width: 345px;
            }
        }
    }
}
