.main {
    background: #F6F8FC;
    position: relative;
    &__container {
        display: flex;
        align-items: baseline;
        margin: 0 auto;
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 550px) {
    .main {
        &__container {
            margin-bottom: 60px;
        }
    }
}