.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    &__button {
        padding: 12px 50px;
        width: 240px;
        height: 56px;
        background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
        border-radius: 30px;
        border-width: 1px;
        position: relative;
        z-index: 1;
        font-weight: 500;
        font-size: 16px;
        border: none;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: calc(100% - (1px *2));
            width: calc(100% - (1px *2));
            background: #E8F0FD;
            top: 1px;
            left: 1px;
            border-radius: 30px;
            z-index: -1;
        }
    }

    &__pages {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__pageItem {
        font-size: 17px;
        color: #707378;
        font-weight: 500;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 28px;
        }
    }

    &__text {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 17px;
        line-height: 27px;
        background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        &::before {
            content: '';
            z-index: 1;
            position: absolute;
            right: -15px;
            border: solid #AB83FE;
            border-width: 0 2px 2px 0;
            border-radius: 1px;
            display: inline-block;
            padding: 3px;
            transform: rotate(314deg);
        }
    }
}


@media screen and (max-width: 1388px) {
    .pagination {
        &__button {
            font-size: 16px;
            line-height: 18px;
            width: 200px;
            height: 50px;
            padding: 10px 22px;
        }
    }
}

@media screen and (max-width: 1010px) {
    .pagination {
        &__button {
            font-size: 14px;
            line-height: 16px;
            width: 170px;
            height: 45px;
        }
        &__pageItem {
            font-size: 15px;
        }
        &__text {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

@media screen and (max-width: 940px) {
    .pagination {
        &__button {
            padding: 7px 10px;
            width: 155px;
            height: 40px;
            font-size: 13px;
        }

        &__pageItem {
            font-size: 12px;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }
}