.product-list {
    position: relative;

    &__headers {
        position: relative;
        display: flex;
        align-items: center;
        margin: 69px auto 33px auto;

    }

    &__container {
        max-width: 338px;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
    }

    &__description {
        font-size: 20px;
        color: #414141;
    }

    &__search {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__searchInput {
        font-size: 16px;
        width: 338px;
        height: 42px;
        border-radius: 30px;
        border: 1px solid #C3C8CC;
        padding-left: 24px;
        background: transparent;
    }

    &__iconSearch {
        position: absolute;
        right: 24px;
    }

    

    &__category-item {
        list-style: none;
        background: #FFFFFF;
        border-radius: 16px;
        padding: 8px 13.5px 8px 13.5px;
        font-size: 16px;
        color: #414141;
        max-width: max-content;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__decoration {
        color: #A9AEB2;
    }


    &__header {
        font-size: 35px;
        color: #414141;
        margin: 0 8px 0 35px;
    }

    &__span {
        color: #65676E;
        font-size: 24px;
    }

    &__title {
        margin-bottom: 24px;
        font-size: 20px;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__label {
        display: flex;
        align-items: center;
        width: 160px;
        height: 42px;
        border: 1px solid #C3C8CC;
        border-radius: 30px;
        padding: 0 11px;
    }

    &__text {
        font-size: 16px;
        color: #414141;
    }

    &__input {
        border: none; 
        color: #65676E;
        font-size:  16px;
        padding: 0 10px;
        background: transparent;
    }

    &__slider {
        margin-top: 26px;
        width: calc(100% - 17px);
    }


    .noUi-target{
        background: #E5E6E9;
        border: none;
        border-radius: 100px;
        box-shadow: none;
        height: 2px;
    }

    .noUi-connect {
        background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
    }

    .noUi-handle::after,
    .noUi-handle::before {
        display: none;
    }

    .noUi-handle {
        background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
        border: 3px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(68, 64, 107, 0.06);
        border-radius: 50%;
    }

    .noUi-horizontal .noUi-handle {
        width: 20px;
        height: 20px;
        top: -10px;
    }

    .noUi-horizontal .noUi-handle-upper {
        right: 0;
    }

    &__model {
        margin-top: 32px;
        display: flex;
        align-items: unset;

    }


    &__arrow {
        position: relative;
        margin-right: 16px;
        width: 28px;
        height: 28px;
        border: 1px solid #E5E6E9;
        border-radius: 30px;
        &::before { 
            content: "";
            display: inline-block;
            position: absolute;
            left: 35%;
            top: 43%;
            width: 7px;
            height: 7px;
            border-top: 1.5px solid #5f5f60;
            border-right: 1.5px solid #5f5f60;
            transform: rotate(-45deg);
        }

        &:hover {
            background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
            transition: all 1s;
            cursor: pointer;
        }
    }

    &__buttonApple {
        margin-top: 65px;
        color: #fff;
        background: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
        box-shadow: 0px 6px 28px rgba(134, 151, 255, 0.16);
        cursor: pointer;
        font-size:  16px;
    }

    &__buttonReset {
        margin-top: 36px;
        background: #E8F0FD;
    }

    &__gradientButton {
        font-size:  16px;
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(92.54deg, #AB83FE -16.66%, #66A6FF 90.71%);
    }
}

@media screen and (max-width: 1010px) {
    .product-list {
        &__header {
            font-size: 24px;
        }
        &__span {
            font-size: 18px;
        }
        &__description {
            font-size: 18px;
        }
        &__searchInput {
            width: 300px;
        }
        &__category-item {
            font-size: 14px;
        }
        &__title {
            font-size: 18px;
        }
        &__label {
            width: 140px;
            height: 35px;
            &:not(:last-child) {
                margin-right: 15px;
            }
            justify-content: unsafe;
        }
        &__text {
            font-size: 14px;
        }
        &__input {
            font-size: 14px;
        }
        &__buttonApple {
            font-size: 14px;
        }
        &__buttonReset {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 730px) {
    .product-list {
        
        &__container {
            position: absolute;
            background: #0e2349cf;
            z-index: 100;
            top: -50px;
            padding: 30px;
            border-radius: 30px;
            color: #fff;
            left: -380px;
            transition: left 0.3s ease 0s;
        }

        .active-menu {
            left: 0;
        }

        &__description {
            color: #fff;
        }

        &__input {
            color: #fff;
        }

        &__text {
            color: #fff;
        }

        &__arrow::before {
            border-top: 1.5px solid #fff;
            border-right: 1.5px solid #fff
        }
    }
}

@media screen and (max-width: 900px) {
    .product-list {
        &__inputs {
            justify-content: flex-start;
        }
        &__label {
            width: 120px;
        }
    }
}

@media screen and (max-width: 375px) {
    .product-list {
        &__container {
            max-width: 375px;
            width: 375px;
            position: absolute;
            background: #2E3F65;
            z-index: 100;
            top: -248px;
            padding: 30px;
            color: #fff;
            left: -385px;
            transition: left 0.3s ease 0s;
        }

        .active-menu {
            left: -8px;
        }
    }
}

